{% extends "base.twig" %}

{% block content %}
    <div class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
        <div class="wrapper">
            {% include '/partial/topbar.twig' %}
            {% include '/partial/sidebar_control_panel.twig' %}

            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Router</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Router</li>
                        </ol>
                    </div>
                    </div>
                </div><!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title">Listing</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                    </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Method</th>
                                        <th scope="col">Path</th>
                                        <th scope="col">Alias</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Controller</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for route in data %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ route.method }}</td>
                                            <td>{{ route.path }}</td>
                                            <td>{{ route.alias }}</td>
                                            <td>{{ route.category }}</td>
                                            <td><small>{{ route.controller ~ '::' ~ route.function }}</small></td>
                                            <td>
                                                <a href="#" class="table-action-button" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="far fa-trash-alt"></i></a>
                                                <a href="#" class="table-action-button" data-toggle="tooltip" data-placement="bottom" title="Lock or Unlock"><i class="fas fa-lock-open"></i><a href="#">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                    Footer
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

                </section>
                <!-- /.content -->
            </div>
        </div>
    </div>
    
    <div class="btn-group-fab" role="group" aria-label="FAB Menu">
        <div>
            <button type="button" onclick="_register()" class="btn btn-main btn-primary has-tooltip" data-toggle="tooltip" data-placement="left" title="Register New Router"> <i class="fa fa-plus"></i> </button>
        </div>
    </div>

    <script>
        function _register() {
            location.href = "{{ path_for('controlpanel.router.register') }}";
        }
    </script>
{% endblock %}